doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' type='text/css')
  link(rel='stylesheet' href='../css/theme.css' type='text/css')
  script(src='/vendor/jquery/jquery.min.js')
nav.navbar.navbar-expand-md.navbar-dark.bg-dark
  .container
    button.navbar-toggler.navbar-toggler-right.border-0(type='button' data-toggle='collapse' data-target='#navbar12')
      span.navbar-toggler-icon
    #navbar12.collapse.navbar-collapse
      a.navbar-brand.d-none.d-md-block(href='#')
        i.fa.d-inline.fa-lg.fa-circle
        b(style='')
          | AV List
          br
      ul.navbar-nav.mx-auto
      ul.navbar-nav
        li.nav-item
          a.nav-link(href='#')
            i.fa.fa-user.fa-fw
            | #{user}
        li.nav-item
          a.nav-link.text-primary(href='#')
            i.fa.fa-fw.fa-sign-out
            | Salir

.py-5
  .container
    .row
      .col-md-12
        ul.nav.nav-tabs
          li.nav-item
            a.nav-link.active(href='' data-toggle='pill' data-target='#tabone')
              i.fa.fa-film
              | &nbsp;Movies
              br
          li.nav-item
            a.nav-link(href='' data-toggle='pill' data-target='#tabtwo')
              i.fa.fa-television
              | &nbsp;Series
        .tab-content.mt-2
          #tabone.tab-pane.fade.active.show(role='tabpanel')
            // START OF CARDS
            .container
              ul.row.list-unstyled
                each movie in data.data.movies
                  li.col-md-4
                    .thumbnail
                      a.close &times;
                      -var image = movie.Poster !== "N/A" ? movie.Poster : "images/genericPoster.png"; 
                      img.img-responsive(src=image width='50%' height='50%')
                      h4 #{movie.Title}
                      p Plot: #{movie.details.Plot}
                      h6 Year: #{movie.details.Year} 
                      h6 Rated: #{movie.details.Rated}
                      h6 Released: #{movie.details.Released}                       
                      h6 Runtime: #{movie.details.Runtime}
                      h6 Genre: #{movie.details.Genre}
                      h6 Director: #{movie.details.Director}
                      h6 Writer: #{movie.details.Writer}
                      h6 Actors: #{movie.details.Actors}
                      h6 Language: #{movie.details.Language}
                      h6 Country: #{movie.details.Country}
                      h6 Awards: #{movie.details.Awards}
                      h6 Metascore: #{movie.details.Metascore}
                      h6 IMDB: #{movie.details.imdbRating}
                      h6 IMDB votes:#{movie.details.imdbVotes}
                      h6 IMDB ID: #{movie.details.imdbID}
                      h6 DVD: #{movie.details.DVD}
                      h6 Box Office: #{movie.details.BoxOffice}
                      h6 Production: #{movie.details.Production}
                      h6 Website: #{movie.details.Website}
            // end of cards

          #tabtwo.tab-pane.fade(role='tabpanel')
            // START OF CARDS
            .container
              ul.row.list-unstyled
                each serie in data.data.series
                  li.col-md-4
                    .thumbnail
                      a.close &times;
                       -var image = serie.Poster !== "N/A" ? serie.Poster : "images/genericPoster.png"; 
                      img.img-responsive(src=image width='50%' height='50%')
                      h4 #{serie.Title}
                      p #{serie.details.Plot}
                      h6 Year: #{serie.details.Year} 
                      h6 Rated: #{serie.details.Rated}
                      h6 Released: #{serie.details.Released}                       
                      h6 Runtime: #{serie.details.Runtime}
                      h6 Genre: #{serie.details.Genre}
                      h6 Director: #{serie.details.Director}
                      h6 Writer: #{serie.details.Writer}
                      h6 Actors: #{serie.details.Actors}
                      h6 Language: #{serie.details.Language}
                      h6 Country: #{serie.details.Country}
                      h6 Awards: #{serie.details.Awards}
                      h6 Metascore: #{serie.details.Metascore}
                      h6 IMDB: #{serie.details.imdbRating}
                      h6 IMDB votes:#{serie.details.imdbVotes}
                      h6 IMDB ID: #{serie.details.imdbID}
                      h6 DVD: #{serie.details.DVD}
                      h6 Box Office: #{serie.details.BoxOffice}
                      h6 Production: #{serie.details.Production}
                      h6 Website: #{serie.details.Website}
            // end of cards

.py-3.bg-dark
  .container
    .row
      .col-md-12.text-center.d-md-flex.align-items-center
        i.d-block.fa.fa-stop-circle.fa-2x.mr-md-5.text-primary
        ul.nav.mx-md-auto.d-flex.justify-content-center
          li.nav-item
            a.nav-link.active(href='#') Home
          li.nav-item
            a.nav-link(href='#') Features
          li.nav-item
            a.nav-link(href='#') Pricing
          li.nav-item
            a.nav-link(href='#') About
        .row
          .col-md-12.d-flex.align-items-center.justify-content-md-between.justify-content-center.my-2
            a(href='#')
              i.d-block.fa.fa-facebook-official.text-muted.fa-lg.mx-2
            a(href='#')
              i.d-block.fa.fa-instagram.text-muted.fa-lg.mx-2
            a(href='#')
              i.d-block.fa.fa-twitter.text-muted.fa-lg.ml-2
    .row
      .col-md-12.text-center
        p.mt-2.mb-0.text-light(style='') &copy; 2020 Santiago Orlando. All rights reserved
script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js' integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49' crossorigin='anonymous')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js' integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM' crossorigin='anonymous')
script.
  $('.close').click(function() {
  var $target = $(this).parents('li');
  $target.hide('slow', function() {
  $target.remove();
  });
  })
